<div class="d-flex justify-content-center pt-1">
    <div>
        <%= form_tag("https://www.startpage.com/do/asearch?", method: "get", class: "form-inline my-2 my-lg-0", target: "_blank") do %>
        <%= text_field_tag :query, nil, class: 'form-control mr-sm-2', placeholder: 'Search the last year of Google', size: locals[:width] %>
        <%= hidden_field_tag :with_date, "y" %>
        <%= submit_tag("Search", class: "btn btn-outline-red3 my-2 my-sm-0") %>
        <% end %>
    </div>


    </div>