<div class="row">
    <div class="my-5 p-3 rounded bg-grey0 col-12 col-lg-6 offset-lg-3">
        <h1>Editing Topic</h1>

        <%= render 'form', topic: @topic %>

        <%= link_to 'Show', @topic %> |
        <%= link_to 'Back', topics_path %>
    </div>
</div>