/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$theme-colors: ("grey0": hsl(204, 0%, 100%),
"grey1": hsl(204, 2%, 93%),
"grey2": hsl(204, 3%, 85%),
"grey3": hsl(204, 6%, 60%),
"red3": hsl(4, 97%, 23%),
"secondary": hsl(14, 95%, 34%),
"dark": hsl(220, 68%, 7%),
"danger": hsl(4, 70%, 40%),
"warning": hsl(12, 92%, 63%),
"info": hsl(234, 82%, 70%),
);
$title-font: 'Alegreya SC',
serif;
$font-family-base: 'IBM Plex Sans Condensed',
sans-serif;
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:400,700|IBM+Plex+Sans+Condensed:400,600');
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

h1,
h2,
h3 {
  font-family: $title-font;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
  font-weight: 700;
}